[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.23.3"
opencv-python-headless = "==4.6.0.66"
pandas = "==1.4.4"
pillow = "==9.2.0"
streamlit = "==1.12.2"
streamlit-cropper = "==0.2.0"

[dev-packages]

[requires]
python_version = "3.9"
